<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>telephone queue</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div>
            <p>0 currently waiting</p>
        </div>
    </body>
</html>