<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="5" />
        <title>telephone queue</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div>
                <h1> <%= callsWaiting %> currently waiting</h1>
            </div>
            <div>

            </div>
        </div>
    </body>
</html>